<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41677393803-3382dnbbfg7l4kc6ghel8i66f5ib3dfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41677393803-3382dnbbfg7l4kc6ghel8i66f5ib3dfn</string>
	<key>API_KEY</key>
	<string>AIzaSyB4_xqr-8E32CWX93DLcfVZ9ZJ8YA2rCbo</string>
	<key>GCM_SENDER_ID</key>
	<string>41677393803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>whatzappflutter</string>
	<key>PROJECT_ID</key>
	<string>whatzappclone-d7b69</string>
	<key>STORAGE_BUCKET</key>
	<string>whatzappclone-d7b69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41677393803:ios:ebcbb380929d55aeb8298e</string>
	<key>DATABASE_URL</key>
	<string>https://whatzappclone-d7b69.firebaseio.com</string>
</dict>
</plist>